<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-brand">
      <img src={{logoUrl}} alt="BPM" class="navbar-logo">
      <span class="navbar-title">FitConnect</span>
    </div>
    
    <button class="navbar-toggle" (click)="toggleMenu()" [class.active]="isMenuOpen">
      <span></span>
      <span></span>
      <span></span>
    </button>
    
    <div class="navbar-menu" [class.active]="isMenuOpen">
      <a routerLink="/" class="navbar-link">Home</a>
      <a routerLink="/loremipsum" class="navbar-link">loremipsum</a>
    </div>
  </div>
</nav>