
<form [formGroup]="filtersForm" (ngSubmit)="onSubmit()">
    <div class="row my-2">
        <div class="col">
            <label for="zone" class="form-label">Zona</label>
            <select id="zone" class="form-select" formControlName="zone">
                <option [ngValue]="null">Seleziona una zona</option>
                @for (area of parkingAreas(); track area.id) {
                    <option [ngValue]="area.id">{{ area.name }}</option>
                }
            </select>
        </div>
    </div>

    <div class="row my-2">
        <div class="col">
            <label for="startDate" class="form-label">Data Inizio</label>
            <input
                type="date"
                id="startDate"
                class="form-control"
                formControlName="startDate">
        </div>
    </div>

    <div class="row my-2">
        <div class="col">
            <label for="endDate" class="form-label">Data Fine</label>
            <input
                type="date"
                id="endDate"
                class="form-control"
                formControlName="endDate">
        </div>
    </div>

    <div class="row my-3">
        <div class="col">
            <button type="submit" class="btn btn-primary w-100" [disabled]="!filtersForm.valid">Applica Filtri</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-outline-secondary w-100" (click)="onReset()">Reset Filtri</button>
        </div>
    </div>
</form>
