<div class="row">
    <div class="col-12 col-md-4 mt-1">
        <label for="dropDown" class="form-label" >Zona</label>
        <select id="dropDown" class="form-select">
            <option selected>Seleziona una zona</option>
            <option (click)="select('Zona 1')">Zona 1</option>
            <option (click)="select('Zona 2')">Zona 2</option>
            <option (click)="select('Zona 3')">Zona 3</option>
        </select>
	</div>

    <div class="col-6 col-md-4 mt-1">
        <label for="dataInizio" class="form-label">Data Inizio</label>
        <input 
            type="date" 
            id="dataInizio" 
            class="form-control">
    </div>

    <div class="col-6 col-md-4 mt-1">
        <label for="dataFine" class="form-label">Data Fine</label>
        <input 
            type="date" 
            id="dataFine" 
            class="form-control">
    </div>
</div>