# Database connection URL
# Format: postgresql+psycopg://username:password@host:port/database_name
# Example: postgresql+psycopg://postgres:postgres@localhost:5432/bicycle_parking_db
DB_URL="postgresql+psycopg://username:password@localhost:5432/"