services:
  backend-bpm:
    container_name: backend-bpm
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8000:4000    
    depends_on:
      backend-bpm_db:
        condition: service_healthy    
    links: 
        - backend-bpm_db
  backend-bpm_db:
    container_name: backend-bpm_db
    image: postgres:12
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=postgres
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:      
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB} -t 1"]
      interval: 10s
      timeout: 10s
      retries: 10
      start_period: 10s

volumes:
  pgdata: {}

